.page {
  width: max-content;

  &__blocks {
    margin-top: 2rem;
  }

  &__loader {
    margin: .5rem;
  }

  &__loading-section {
    display: flex;
    flex-direction: row;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
