// Import carbon components library stylesheets from Node Modules
@import '../../node_modules/carbon-components/scss/components/button/button';
@import '../../node_modules/carbon-components/scss/components/tile/tile';

// Import self made stylesheets
@import './colors';
@import './components/block';
@import './components/page';

.main-container {
  height: 42rem;
  padding: 1rem;
  width: 100%;
}
